<% extend WorkAssignmentPlugin::Helper %>

<div id="work-assignment-group">
  <% unless work_assignment_group.body.blank? %>
    <div><%= work_assignment_group.body %></div>
    <h2> <%= _('Start date: ') %> </h2>
      <span><%= show_day_of_week(work_assignment_group.start_date) + ", " + show_time(work_assignment_group.start_date) %>
    <h2> <%= _('End date: ') %> </h2>
      <span><%= show_day_of_week(work_assignment_group.end_date) + ", " + show_time(work_assignment_group.end_date) %>
  <% end %>

  <h1><%= _("Work Assignment List") %></h1>

  <div class="work-assignment">
    <% button_bar do %>
      <%= button(:eyes, _('View work assignment List'), :controller => 'work_assignment_plugin_myprofile', :action => 'work_assignment_list', :type => 'WorkAssignmentPlugin::WorkAssignment', :work_assignment_group => work_assignment_group)%>
    <% end %>
  </div>
</div>
